@import "bourbon/_bourbon";
@import "neat/_neat";
@import "variables";
@import "mixins";
@import "carousel";
@import "typography";

@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald');

.slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: #000;
    color: #fff;

    & .btn-hamburger--white {
        float: right;
        margin: 25px 25px 0 0;
    }
}

#welcome-screen {
    background: $dark;
    height: 100%;
    display: table;
    width: 100%;
    position: relative;

    & .text-for-you {
        position: absolute;
        width: 80%;
        left: 50%;
        margin-left: -40%;
        bottom: 15%;
    }

    & .home {
        display: table-cell;
        width: 100%;
        vertical-align: middle;

        &:before {
            content: '';
            width: 100%;
            border-bottom: solid 1px $white;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 1;
        }


        h2 {
            font-size: 130px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: $white;
            letter-spacing: 90px;

            @include breakpoint(md) {
                font-size: 52px;
                letter-spacing: 70px;
            }
        }
    }

    & .btn-hamburger--dark {
        margin: 25px 0 0 25px;
    }
}
/* Navigation animated button
-------------------------------------------------- */
%_btn-hamburger {
    position: absolute;
    width: 30px;
    height: 30px;
    background: none;
    cursor: pointer;
    z-index: 2;

    .icon-bar {
        width: 30px;
        transition: all 0.2s;
        height: 4px;
        border-radius: 0;
        margin-bottom: 4px;
        display: block;
    }

    & .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    & .middle-bar {
        opacity: 0;
    }

    & .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }

    &.collapsed .top-bar {
        transform: rotate(0);
    }

    &.collapsed .middle-bar {
        opacity: 1;
    }

    &.collapsed .bottom-bar {
        transform: rotate(0);
    }
}

.btn-hamburger {
    @extend %_btn-hamburger;

    &--white {
        @extend %_btn-hamburger;
        top: 25px;
        left: 25px;

        &:hover {

            .icon-bar {
                background: #4e4e4e;
            }
        }

        .icon-bar {
            background: $white;
        }
    }

    &--dark {
        @extend %_btn-hamburger;

        &:hover {

            .icon-bar {
                background: #222;
            }
        }

        .icon-bar {
            background: $dark;
        }
    }
}

/*=====================*/
//   COMPONENT BUTTONS
/*=====================*/
%_btn-component {
    display: inline-block;
    background: none;
    color: $white;
    font-family: 'gothman_book';
    position: relative;
    border: none;
    cursor: pointer;
    padding: 10px 22px;

    &:hover {
        color: $text;
    }
}

.btn-component {
    @extend %_btn-component;

    &--default {
        @extend %_btn-component;
        background: transparent;

        &:hover {
            background: #4e4e4e;
        }
    }

    &--primary {
        @extend %_btn-component;


        &:hover {
            background: #000;
            color: $white;
        }
    }
}
//
.btn-rounded {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 22px;
}

.btn-back {
    position: absolute;
    color: $white;
    top: 15px;
    left: 15px;

    &:hover {
        color: $white;
    }
}
/* =======================
   ROUTE list
   ======================= */
%_route-link {
    height: 25%;
    width: 50%;
    font-family: 'Oswald', sans-serif;

    a {
        color: #0f0e0e;
        text-decoration: none;
        text-transform: uppercase;

        h2 {
            font-size: 26vh;
            font-weight: 600;
            margin: 0;
            display: inline;
            font-family: 'Oswald Light', sans-serif;
        }
    }
}

.route-link {
    @extend %_route-link;

    &--home {
        @extend %_route-link;
        -webkit-animation-duration: 800ms;
        text-align: right;
        width: 100%;
    }

    &--work {
        @extend %_route-link;
        -webkit-animation-duration: 1000ms;
    }

    &--bio {
        @extend %_route-link;
        -webkit-animation-duration: 1200ms;
        text-align: right;
        width: 100%;
    }

    &--info {
        @extend %_route-link;
        -webkit-animation-duration: 1400ms;
    }
}
/* =======================
   COLUMN TEMPLATE 
   ======================= */
%_panel {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.panel {
    @extend %_panel;

    &--left {
        @extend %_panel;
        left: 0;
        top: 0;
    }

    &--right {
        @extend %_panel;
        right: 0;
        top: 0;
    }
}
// animation duration
%_fade-d {
    -webkit-animation-delay: 500ms;
}

.fade-d {
    @extend %_fade-d;

    &--800 {
        @extend %_fade-d;
        -webkit-animation-duration: 800ms;
    }

    &--1000 {
        @extend %_fade-d;
        -webkit-animation-duration: 1000ms;
    }

    &--1200 {
        @extend %_fade-d;
        -webkit-animation-duration: 1200ms;
    }

    &--1400 {
        @extend %_fade-d;
        -webkit-animation-duration: 1400ms;
    }

    &--2000 {
        @extend %_fade-d;
        -webkit-animation-duration: 2000ms;
    }

    &--3000 {
        @extend %_fade-d;
        -webkit-animation-duration: 3000ms;
    }
}
//
.recent-work {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;

    h4 {
        color: gray;
        font-family: 'Open Sans Condensed', sans-serif;
    }

    ul {
        li {
            a {
                position: relative;
                display: inline-block;
                width: 480px;
                border-top: 1px solid #333637;
                padding: 20px 24px 8px 24px;
                box-sizing: border-box;
                text-decoration: none;
                color: $white;
                font-size: 20px;

                @include breakpoint(md) {
                    padding: 16px 24px 6px 24px;
                    font-size: 14px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    & .list {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-size: 16px;
        padding-bottom: 40px;
    }
}
//project detail
.page-details {
    background-color: $white;
}

.sidebar-share {
    position: fixed;
    right: 0;
}

.project-item {
    position: relative;
    width: calc(100vw - 120px);
    background: $white;
}

.year {
    display: block;
    font-size: 14px;
    padding-bottom: 10px;
}

.project-header {
    height: 100vh;
    min-height: 600px;
    background: $white;
    position: relative;

    & .project-item-title {
        background: #000;
        height: 100vh;

        h2 {
            font-size: 44px;
            line-height: 85px;
            letter-spacing: 32px;
            color: $white;
        }

        .short-description {
            margin-top: 60px;
            max-width: 70%;
        }

        .technology {
            margin-top: 60px;
            display: block;
        }

        .date-creation {
            position: absolute;
            bottom: 25px;
        }
    }

    & .table-container {
        display: table;
        height: 100%;
        width: 100%;
        table-layout: fixed;
    }

    & .table-center {
        display: table-cell;
        vertical-align: middle;
        padding: 0 60px;
    }

    & .btn-hamburger--dark {
        position: fixed;
        right: 26px;
        top: 25px;
    }
}

.project-description {
    padding: 80px 40px;
    line-height: 28px;

    & .project-text-left, & .project-text-right {
        width: 40%;
        float: left;
        padding: 40px 60px;

        a {
            display: table;
            padding: 4px 8px;
            font-weight: 600;
            color: $text;
            text-align: center;
            margin-top: 20px;
        }
    }


    & .project-text-key-skils {
        width: 20%;
        float: left;
        padding: 40px 60px;

        strong {
            color: $dark;
            font-size: 18px;
        }

        img {
            width: 70px;
            display: block;
            margin: 8px auto;
        }
    }
}
//images progect
.project-screens {
    background: $dark;
    height: 100vh;
    .carousel-container {
        position: relative;
    }

    .border-container {
        position: absolute;
        height: 500px;
        width: 400px;
        border: 3px solid;
        left: 18%;
        margin-top: 6%;
        overflow: hidden;
    }

    .owl-carousel {
        margin-left: 24%;
        padding-top: 2%;

        .item {
            float: left;
            overflow: hidden;
        }

        img {
            width: 100%;
            position: relative;
        }
    }
}


// bio
.page-biography {
    background: $dark;
    color: $text;
    height: 100%;
    display: table;

    .text-bio {
        display: table-cell;
        vertical-align: middle;
        padding: 0 20%;
        font-size: 18px;

        & p:first-child {
            margin-left: -18%;
        }
    }
}

.project-list {
    position: relative;

    ul.social {
        position: absolute;
        right: -73px;
        top: 26%;

        li {
            list-style-type: none;

            a {
                i {
                }
            }
        }
    }
}
