@import "variables";
@import "mixins";


@font-face {
    font-family: 'motion_control';
    src: url('../Fonts/motion-control/MotionControl-Bold.eot');
    /*src: url('../Fonts/motion-control/MotionControl-Bold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/motion-control/MotionControl-Bold.woff') format('woff'),
         url('../Fonts/motion-control/MotionControl-Bold.ttf') format('truetype'),
         url('../Fonts/motion-control/MotionControl-Bold.svg#motion_control') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothman_bgbold';
    src: url('../Fonts/gothman/Gotham-Bold.eot');
    src: url('../Fonts/gothman/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/gothman/Gotham-Bold.woff') format('woff'), url('../Fonts/gothman/Gotham-Bold.ttf') format('truetype'), url('../Fonts/gothman/Gotham-Boldt.svg#gothman_bgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gothman_book';
    src: url('../Fonts/gothman-book/Gotham-Book.eot');
    src: url('../Fonts/gothman-book/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../Fonts/gothman-book/Gotham-Book.woff') format('woff'), url('../Fonts/gothman-book/Gotham-Book.ttf') format('truetype'), url('../Fonts/gothman-book/Gotham-Book.svg#gothman_book') format('svg');
    font-weight: normal;
    font-style: normal;
}

.mq {
    position: fixed;
    background: #fff;
    z-index: 999;




    @include breakpoint(lg) {
        background: violet;
    }

    @include breakpoint(md) {
        background: orange;
    }

    @include breakpoint(tablet-l) {
        background: green;
    }

    @include breakpoint(tablet-p) {
        background: gray;
    }

    @include breakpoint(mobile) {
        background: red;
    }
}

body, html {
    font-family: 'gothman_book';
    font-size: 16px;
    height: 100%;
    color: $text-gray;

    @include breakpoint(md) {
        font-size: 14px;
    }

    @include breakpoint(mobile) {
        font-size: 13px;
        line-height: 13px;
    }
}

/*=====================*/
//  BASE CLASS
/*=====================*/
img {
    border: none !important;
}

.underline {
    text-decoration: underline;
    color: $white;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 7px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-white {
    color: $white;
}

.text-gradient {
    background: -webkit-linear-gradient(#fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.relative {
    position: relative;
}

.cfix:after, .cfix:before {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden;
}

.cfix:after {
    clear: both;
}

.cfix {
    zoom: 1;
}


.capitalize {
    text-transform: capitalize;
}

* {
    margin: 0;
    padding: 0;
    outline: 0 none;
}

*, *::after, *::before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
    font-size: 26px;
    line-height: normal;
    font-family: 'Open Sans Condensed', sans-serif;
}
