@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'motion_control';
  src: url("../Fonts/motion-control/MotionControl-Bold.eot");
  /*src: url('../Fonts/motion-control/MotionControl-Bold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/motion-control/MotionControl-Bold.woff') format('woff'),
         url('../Fonts/motion-control/MotionControl-Bold.ttf') format('truetype'),
         url('../Fonts/motion-control/MotionControl-Bold.svg#motion_control') format('svg');*/
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothman_bgbold';
  src: url("../Fonts/gothman/Gotham-Bold.eot");
  src: url("../Fonts/gothman/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman/Gotham-Bold.woff") format("woff"), url("../Fonts/gothman/Gotham-Bold.ttf") format("truetype"), url("../Fonts/gothman/Gotham-Boldt.svg#gothman_bgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothman_book';
  src: url("../Fonts/gothman-book/Gotham-Book.eot");
  src: url("../Fonts/gothman-book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman-book/Gotham-Book.woff") format("woff"), url("../Fonts/gothman-book/Gotham-Book.ttf") format("truetype"), url("../Fonts/gothman-book/Gotham-Book.svg#gothman_book") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  font-family: 'gothman_book';
  font-size: 15px;
  height: 100%;
  color: #545454; }
  @media (max-width: 767px) {
    body, html {
      font-size: 13px;
      line-height: 13px; } }

/*=====================*/
/*=====================*/
img {
  border: none !important; }

.underline {
  text-decoration: underline;
  color: #fff; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-white {
  color: #fff; }

.text-gradient {
  background: -webkit-linear-gradient(#fff, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.relative {
  position: relative; }

.cfix:after, .cfix:before {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden; }

.cfix:after {
  clear: both; }

.cfix {
  zoom: 1; }

.capitalize {
  text-transform: capitalize; }

* {
  margin: 0;
  padding: 0;
  outline: 0 none; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  font-family: 'Open Sans Condensed', sans-serif; }

.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #000;
  color: #fff; }
  .slide-menu .btn-hamburger--white {
    float: right;
    margin: 25px 25px 0 0; }

#welcome-screen {
  background: #000;
  height: 100%;
  display: table;
  width: 100%;
  position: relative; }
  #welcome-screen .text-for-you {
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    bottom: 15%; }
  #welcome-screen .home {
    display: table-cell;
    width: 100%;
    vertical-align: middle; }
    #welcome-screen .home:before {
      content: '';
      width: 100%;
      border-bottom: solid 1px #fff;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1; }
    #welcome-screen .home h2 {
      font-size: 130px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 90px; }
  #welcome-screen .btn-hamburger--dark {
    margin: 25px 0 0 25px; }

/* Navigation animated button
-------------------------------------------------- */
.btn-hamburger, .btn-hamburger--white, .btn-hamburger--dark {
  position: absolute;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  z-index: 2; }
  .btn-hamburger .icon-bar, .btn-hamburger--white .icon-bar, .btn-hamburger--dark .icon-bar {
    width: 30px;
    transition: all 0.2s;
    height: 4px;
    border-radius: 0;
    margin-bottom: 4px;
    display: block; }
  .btn-hamburger .top-bar, .btn-hamburger--white .top-bar, .btn-hamburger--dark .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .btn-hamburger .middle-bar, .btn-hamburger--white .middle-bar, .btn-hamburger--dark .middle-bar {
    opacity: 0; }
  .btn-hamburger .bottom-bar, .btn-hamburger--white .bottom-bar, .btn-hamburger--dark .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .collapsed.btn-hamburger .top-bar, .collapsed.btn-hamburger--white .top-bar, .collapsed.btn-hamburger--dark .top-bar {
    transform: rotate(0); }
  .collapsed.btn-hamburger .middle-bar, .collapsed.btn-hamburger--white .middle-bar, .collapsed.btn-hamburger--dark .middle-bar {
    opacity: 1; }
  .collapsed.btn-hamburger .bottom-bar, .collapsed.btn-hamburger--white .bottom-bar, .collapsed.btn-hamburger--dark .bottom-bar {
    transform: rotate(0); }

.btn-hamburger--white {
  top: 25px;
  left: 25px; }
  .btn-hamburger--white:hover .icon-bar {
    background: #4e4e4e; }
  .btn-hamburger--white .icon-bar {
    background: #fff; }

.btn-hamburger--dark:hover .icon-bar {
  background: #222; }

.btn-hamburger--dark .icon-bar {
  background: #000; }

/*=====================*/
/*=====================*/
.btn-component, .btn-component--default, .btn-component--primary {
  display: inline-block;
  background: none;
  color: #fff;
  font-family: 'gothman_book';
  position: relative;
  border: none;
  cursor: pointer;
  padding: 10px 22px; }
  .btn-component:hover, .btn-component--default:hover, .btn-component--primary:hover {
    color: #747474; }

.btn-component--default {
  background: transparent; }
  .btn-component--default:hover {
    background: #4e4e4e; }

.btn-component--primary:hover {
  background: #000;
  color: #fff; }

.btn-rounded {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  border-radius: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 22px; }

/* =======================
   ROUTE list
   ======================= */
.route-link, .route-link--home, .route-link--work, .route-link--bio, .route-link--info {
  height: 25%;
  width: 50%;
  font-family: 'Oswald', sans-serif; }
  .route-link a, .route-link--home a, .route-link--work a, .route-link--bio a, .route-link--info a {
    color: #0f0e0e;
    text-decoration: none;
    text-transform: uppercase; }
    .route-link a h2, .route-link--home a h2, .route-link--work a h2, .route-link--bio a h2, .route-link--info a h2 {
      font-size: 26vh;
      font-weight: 600;
      margin: 0;
      display: inline;
      font-family: 'Oswald Light', sans-serif; }

.route-link--home {
  -webkit-animation-duration: 800ms;
  text-align: right;
  width: 100%; }

.route-link--work {
  -webkit-animation-duration: 1000ms; }

.route-link--bio {
  -webkit-animation-duration: 1200ms;
  text-align: right;
  width: 100%; }

.route-link--info {
  -webkit-animation-duration: 1400ms; }

/* =======================
   COLUMN TEMPLATE 
   ======================= */
.panel, .panel--left, .panel--right {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden; }

.panel--left {
  left: 0;
  top: 0; }

.panel--right {
  right: 0;
  top: 0; }

.fade-d, .fade-d--800, .fade-d--1000, .fade-d--1200, .fade-d--1400, .fade-d--2000, .fade-d--3000 {
  -webkit-animation-delay: 500ms; }

.fade-d--800 {
  -webkit-animation-duration: 800ms; }

.fade-d--1000 {
  -webkit-animation-duration: 1000ms; }

.fade-d--1200 {
  -webkit-animation-duration: 1200ms; }

.fade-d--1400 {
  -webkit-animation-duration: 1400ms; }

.fade-d--2000 {
  -webkit-animation-duration: 2000ms; }

.fade-d--3000 {
  -webkit-animation-duration: 3000ms; }

.recent-work {
  position: relative;
  width: 100%;
  height: 100%;
  display: table; }
  .recent-work h4 {
    color: gray;
    font-family: 'Open Sans Condensed', sans-serif; }
  .recent-work ul li a {
    position: relative;
    display: inline-block;
    width: 480px;
    border-top: 1px solid #333637;
    padding: 20px 24px 8px 24px;
    font-weight: 400;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 20px; }
    .recent-work ul li a:hover {
      text-decoration: underline; }
  .recent-work .list {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px; }

.page-details {
  background-color: #fff; }

.sidebar-share {
  position: fixed;
  right: 0; }

.project-item {
  position: relative;
  width: calc(100vw - 120px);
  background: #fff; }

.year {
  display: block;
  font-size: 14px;
  padding-bottom: 10px; }

.project-header {
  height: 100vh;
  min-height: 600px;
  background: #fff;
  position: relative; }
  .project-header .project-item-title {
    background: #000;
    height: 100vh; }
    .project-header .project-item-title h2 {
      font-family: 'Oswald Light', sans-serif;
      font-size: 88px;
      font-weight: 900;
      line-height: 67px;
      letter-spacing: -12px;
      color: #fff; }
    .project-header .project-item-title .short-description {
      margin-top: 60px;
      font-size: 18px;
      max-width: 70%; }
    .project-header .project-item-title .technology {
      margin-top: 60px;
      display: block; }
    .project-header .project-item-title .date-creation {
      position: absolute;
      bottom: 25px; }
  .project-header .table-container {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed; }
  .project-header .table-center {
    display: table-cell;
    vertical-align: middle;
    padding: 0 60px; }
  .project-header .btn-hamburger--dark {
    position: fixed;
    right: 26px;
    top: 25px; }

.project-description {
  padding: 80px 40px;
  line-height: 28px; }
  .project-description .project-text-left, .project-description .project-text-right {
    width: 40%;
    float: left;
    padding: 40px 60px; }
    .project-description .project-text-left a, .project-description .project-text-right a {
      display: table;
      padding: 4px 8px;
      border: 4px solid #000;
      color: #000;
      text-align: center;
      margin-top: 20px; }
  .project-description .project-text-key-skils {
    width: 20%;
    float: left;
    padding: 40px 60px; }
    .project-description .project-text-key-skils strong {
      color: #000;
      font-size: 18px; }
    .project-description .project-text-key-skils img {
      width: 70px;
      display: block;
      margin: 8px auto; }

.project-screens .full-width {
  box-shadow: inset 2px 6px 60px rgba(0, 0, 0, 0.9); }
  .project-screens .full-width img {
    width: 100%;
    outline: 6px solid #fff;
    position: relative;
    z-index: -2; }

.project-screens .half-width .img-hidden-container {
  width: 33.333%;
  height: 300px;
  overflow: hidden;
  float: left; }

.project-screens .half-width img {
  width: 100%;
  outline: 6px solid #fff;
  transition: all .5s ease-in-out;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease; }
  .project-screens .half-width img:hover {
    transform: scale(1.3);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%); }

.project-next {
  background: #000; }

.page-biography {
  background: #000;
  color: #747474;
  height: 100%;
  display: table; }
  .page-biography .text-bio {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
    font-size: 18px; }
    .page-biography .text-bio p:first-child {
      margin-left: -18%; }

.project-list {
  position: relative; }
  .project-list ul.social {
    position: absolute;
    right: -73px;
    top: 26%; }
    .project-list ul.social li {
      list-style-type: none; }
