@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Oswald");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: 'gothman_bgbold';
  src: url("../Fonts/gothman/Gotham-Bold.eot");
  src: url("../Fonts/gothman/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman/Gotham-Bold.woff") format("woff"), url("../Fonts/gothman/Gotham-Bold.ttf") format("truetype"), url("../Fonts/gothman/Gotham-Boldt.svg#gothman_bgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothman_book';
  src: url("../Fonts/gothman-book/Gotham-Book.eot");
  src: url("../Fonts/gothman-book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman-book/Gotham-Book.woff") format("woff"), url("../Fonts/gothman-book/Gotham-Book.ttf") format("truetype"), url("../Fonts/gothman-book/Gotham-Book.svg#gothman_book") format("svg");
  font-weight: normal;
  font-style: normal; }

.mq {
  position: fixed;
  background: #fff;
  z-index: 999; }
  @media screen and (max-width: 1280px) {
    .mq {
      background: violet; } }
  @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
    .mq {
      background: orange; } }
  @media screen and (max-width: 1024px) {
    .mq {
      background: green; } }
  @media screen and (max-width: 800px) {
    .mq {
      background: gray; } }
  @media screen and (max-width: 767px) {
    .mq {
      background: red; } }

body, html {
  font-family: 'gothman_book';
  font-size: 16px;
  line-height: 28px;
  height: 100%;
  color: #545454; }
  @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
    body, html {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    body, html {
      font-size: 13px;
      line-height: 16px; } }

/*=====================*/
/*=====================*/
img {
  border: none !important; }

.underline {
  text-decoration: underline;
  color: #fff; }

.title {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 7px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-white {
  color: #fff; }

.text-gray {
  color: #545454; }

.relative {
  position: relative; }

.cfix:after, .cfix:before {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden; }

.cfix:after {
  clear: both; }

.cfix {
  zoom: 1; }

.capitalize {
  text-transform: capitalize; }

* {
  margin: 0;
  padding: 0;
  outline: 0 none; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  font-family: 'Open Sans Condensed', sans-serif; }

/*=====================*/
/*=====================*/
.slide-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: url("../img/menu-bgr1.jpg") center/cover no-repeat fixed #000; }
  .slide-menu .btn-hamburger--white {
    float: right;
    margin: 25px 25px 0 0; }
  .slide-menu .panel--left {
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .slide-menu .panel--left {
        width: 100%;
        height: 30%; } }
  .slide-menu .panel--right {
    overflow-x: hidden; }
    @media screen and (max-width: 767px) {
      .slide-menu .panel--right {
        width: 100%;
        top: auto;
        height: 70%;
        bottom: 0; } }

/*=====================*/
/*=====================*/
#welcome-screen {
  background: #000;
  height: 100%;
  display: table;
  width: 100%;
  position: relative; }
  #welcome-screen .text-for-you {
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    bottom: 15%; }
  #welcome-screen .home {
    display: table-cell;
    width: 100%;
    vertical-align: middle; }
    #welcome-screen .home:before {
      content: '';
      width: 100%;
      border-bottom: solid 1px #fff;
      position: absolute;
      left: 0;
      top: 50%;
      z-index: 1; }
    #welcome-screen .home h2 {
      font-size: 62px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 90px; }
      @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
        #welcome-screen .home h2 {
          font-size: 52px;
          letter-spacing: 70px; } }
      @media screen and (max-width: 1024px) {
        #welcome-screen .home h2 {
          font-size: 32px;
          letter-spacing: 42px; } }
      @media screen and (max-width: 767px) {
        #welcome-screen .home h2 {
          font-size: 20px;
          letter-spacing: 16px; } }
  #welcome-screen .btn-hamburger--dark {
    margin: 25px 0 0 25px; }

/*=====================*/
/*=====================*/
.btn-hamburger, .btn-hamburger--white, .btn-hamburger--dark {
  position: absolute;
  width: 30px;
  height: 30px;
  background: none;
  cursor: pointer;
  z-index: 2; }
  .btn-hamburger .icon-bar, .btn-hamburger--white .icon-bar, .btn-hamburger--dark .icon-bar {
    width: 30px;
    transition: all 0.2s;
    height: 4px;
    border-radius: 0;
    margin-bottom: 4px;
    display: block; }
  .btn-hamburger .top-bar, .btn-hamburger--white .top-bar, .btn-hamburger--dark .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .btn-hamburger .middle-bar, .btn-hamburger--white .middle-bar, .btn-hamburger--dark .middle-bar {
    opacity: 0; }
  .btn-hamburger .bottom-bar, .btn-hamburger--white .bottom-bar, .btn-hamburger--dark .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .collapsed.btn-hamburger .top-bar, .collapsed.btn-hamburger--white .top-bar, .collapsed.btn-hamburger--dark .top-bar {
    transform: rotate(0); }
  .collapsed.btn-hamburger .middle-bar, .collapsed.btn-hamburger--white .middle-bar, .collapsed.btn-hamburger--dark .middle-bar {
    opacity: 1; }
  .collapsed.btn-hamburger .bottom-bar, .collapsed.btn-hamburger--white .bottom-bar, .collapsed.btn-hamburger--dark .bottom-bar {
    transform: rotate(0); }

.btn-hamburger--white {
  top: 25px;
  left: 25px; }
  .btn-hamburger--white:hover .icon-bar {
    background: #4e4e4e; }
  .btn-hamburger--white .icon-bar {
    background: #fff; }

.btn-hamburger--dark:hover .icon-bar {
  background: #222; }

.btn-hamburger--dark .icon-bar {
  background: #000; }

/*=====================*/
/*=====================*/
.btn-component, .btn-component--default, .btn-component--primary {
  display: inline-block;
  background: none;
  color: #fff;
  font-family: 'gothman_book';
  position: relative;
  border: none;
  cursor: pointer;
  padding: 10px 22px; }
  .btn-component:hover, .btn-component--default:hover, .btn-component--primary:hover {
    color: #747474; }

.btn-component--default {
  background: transparent; }
  .btn-component--default:hover {
    background: #4e4e4e; }

.btn-component--primary:hover {
  background: #000;
  color: #fff; }

.btn-rounded {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  border-radius: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 22px; }

.btn-back {
  position: absolute;
  color: #fff;
  top: 15px;
  left: 15px; }
  .btn-back:hover {
    color: #fff; }

/* =======================
   ROUTE LINK
   ======================= */
.route-link, .route-link--home, .route-link--work, .route-link--bio, .route-link--info {
  height: 25%;
  width: 50%;
  font-family: 'Oswald', sans-serif; }
  @media screen and (max-width: 767px) {
    .route-link, .route-link--home, .route-link--work, .route-link--bio, .route-link--info {
      width: auto;
      margin: 15px; } }
  .route-link a, .route-link--home a, .route-link--work a, .route-link--bio a, .route-link--info a {
    color: #2c2a24;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .route-link a, .route-link--home a, .route-link--work a, .route-link--bio a, .route-link--info a {
        color: #fff;
        text-transform: none;
        font-family: 'Open Sans Condensed', sans-serif;
        letter-spacing: 7px; }
        .route-link a:before, .route-link--home a:before, .route-link--work a:before, .route-link--bio a:before, .route-link--info a:before {
          background: #fff;
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
          visibility: hidden;
          transform: scaleX(0);
          transition: .25s linear; }
        .route-link a:hover:before, .route-link--home a:hover:before, .route-link--work a:hover:before, .route-link--bio a:hover:before, .route-link--info a:hover:before, .route-link a:focus:before, .route-link--home a:focus:before, .route-link--work a:focus:before, .route-link--bio a:focus:before, .route-link--info a:focus:before {
          visibility: visible;
          transform: scaleX(1); } }
    .route-link a h2, .route-link--home a h2, .route-link--work a h2, .route-link--bio a h2, .route-link--info a h2 {
      font-size: 26vh;
      font-weight: 600;
      margin: 0;
      display: inline;
      font-family: 'Oswald Light', sans-serif; }
      @media screen and (max-width: 767px) {
        .route-link a h2, .route-link--home a h2, .route-link--work a h2, .route-link--bio a h2, .route-link--info a h2 {
          font-size: 12px;
          font-weight: 400; } }

.route-link--home {
  -webkit-animation-duration: 800ms;
  text-align: right;
  width: 100%; }

.route-link--work {
  -webkit-animation-duration: 1000ms; }

.route-link--bio {
  -webkit-animation-duration: 1200ms;
  text-align: right;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .route-link--bio {
      width: auto;
      text-align: center; } }

.route-link--info {
  -webkit-animation-duration: 1400ms; }

@media screen and (max-width: 767px) {
  .route-link--home, .route-link--work, .route-link--bio, .route-link--info {
    width: auto;
    text-align: center;
    height: auto;
    float: left; } }

/* =======================
   WORK LIST
   ======================= */
.recent-work {
  position: relative;
  width: 100%;
  height: 100%;
  display: table; }
  .recent-work h4 {
    color: gray;
    font-family: 'Open Sans Condensed', sans-serif; }
  .recent-work ul li a {
    position: relative;
    display: inline-block;
    width: 480px;
    border-top: 1px solid #333637;
    padding: 20px 24px 8px 24px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    font-size: 20px; }
    @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
      .recent-work ul li a {
        padding: 16px 24px 6px 24px;
        font-size: 14px; } }
    @media screen and (max-width: 1024px) {
      .recent-work ul li a {
        width: 380px; } }
    @media screen and (max-width: 767px) {
      .recent-work ul li a {
        width: auto; } }
    .recent-work ul li a:hover {
      text-decoration: none;
      color: #545454; }
  .recent-work .list {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    padding-bottom: 40px; }

/* =======================
   COLUMNS
   ======================= */
.panel, .panel--left, .panel--right, .project-list .panel--left, .project-list .panel--right {
  position: absolute;
  width: 50%;
  height: 100%; }

.panel--left {
  left: 0;
  top: 0; }

.panel--right {
  right: 0;
  top: 0; }

.project-list .panel--left {
  overflow: hidden; }
  @media screen and (max-width: 1024px) {
    .project-list .panel--left {
      display: none; } }

@media screen and (max-width: 1024px) {
  .project-list .panel--right {
    width: 100%;
    min-height: 240px;
    bottom: 0;
    background: #000;
    left: 0;
    z-index: 20;
    position: relative; } }

/*=====================*/
/*=====================*/
.fade-d, .fade-d--800, .fade-d--1000, .fade-d--1200, .fade-d--1400, .fade-d--2000, .fade-d--3000 {
  -webkit-animation-delay: 500ms; }

.fade-d--800 {
  -webkit-animation-duration: 800ms; }

.fade-d--1000 {
  -webkit-animation-duration: 1000ms; }

.fade-d--1200 {
  -webkit-animation-duration: 1200ms; }

.fade-d--1400 {
  -webkit-animation-duration: 1400ms; }

.fade-d--2000 {
  -webkit-animation-duration: 2000ms; }

.fade-d--3000 {
  -webkit-animation-duration: 3000ms; }

/*=====================*/
/*=====================*/
.page-details {
  background-color: #fff; }

.sidebar-share {
  position: fixed;
  right: 0; }

.project-item {
  position: relative;
  background: #fff; }

.year {
  display: block;
  font-size: 14px;
  padding-bottom: 10px; }

.project-header {
  height: 100vh;
  min-height: 600px;
  background: #fff;
  position: relative; }
  @media screen and (max-width: 1024px) {
    .project-header {
      height: auto;
      min-height: 1px; } }
  .project-header .project-item-title {
    background: #000;
    height: 100vh; }
    @media screen and (max-width: 1024px) {
      .project-header .project-item-title {
        height: auto; } }
    .project-header .project-item-title h2 {
      font-size: 44px;
      line-height: 85px;
      letter-spacing: 32px;
      color: #fff; }
      @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
        .project-header .project-item-title h2 {
          font-size: 34px;
          line-height: 74px;
          letter-spacing: 30px; } }
      @media screen and (max-width: 1024px) {
        .project-header .project-item-title h2 {
          font-size: 22px;
          line-height: 50px;
          letter-spacing: 22px;
          padding-top: 20px; } }
    .project-header .project-item-title .short-description {
      margin-top: 60px;
      max-width: 70%; }
      @media screen and (max-width: 1024px) {
        .project-header .project-item-title .short-description {
          margin-top: 10px;
          max-width: 100%; } }
    .project-header .project-item-title .technology {
      margin-top: 60px;
      display: block; }
      @media screen and (max-width: 1024px) {
        .project-header .project-item-title .technology {
          margin-top: 10px;
          color: #545454; } }
    .project-header .project-item-title .date-creation {
      position: absolute;
      bottom: 25px; }
      @media screen and (max-width: 1024px) {
        .project-header .project-item-title .date-creation {
          position: relative;
          bottom: auto;
          margin-top: 10px;
          display: block; } }
  .project-header .table-container {
    display: table;
    height: 100%;
    width: 100%;
    table-layout: fixed; }
  .project-header .table-center {
    display: table-cell;
    vertical-align: middle;
    padding: 0 60px; }
    @media screen and (max-width: 1024px) {
      .project-header .table-center {
        padding: 0 40px 10px 40px; } }
  .project-header .btn-hamburger--dark {
    position: fixed;
    left: 26px;
    top: 25px; }

.project-description {
  padding: 80px 40px;
  line-height: 28px; }
  .project-description .project-text-left, .project-description .project-text-right {
    width: 40%;
    float: left;
    padding: 40px 60px;
    color: #747474; }
    @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
      .project-description .project-text-left, .project-description .project-text-right {
        padding: 24px; } }
    @media screen and (max-width: 1024px) {
      .project-description .project-text-left, .project-description .project-text-right {
        padding: 0;
        width: 100%;
        float: none; } }
    .project-description .project-text-left a, .project-description .project-text-right a {
      display: table;
      padding: 4px 8px;
      font-weight: 600;
      color: #747474;
      text-align: center;
      margin-top: 20px; }
  .project-description .project-text-key-skils {
    width: 20%;
    float: left;
    padding: 40px 60px; }
    @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
      .project-description .project-text-key-skils {
        padding: 24px; } }
    @media screen and (max-width: 1024px) {
      .project-description .project-text-key-skils {
        padding: 0;
        width: 100%;
        float: none; } }
    .project-description .project-text-key-skils strong {
      display: block;
      color: #000;
      font-size: 18px; }
    .project-description .project-text-key-skils img {
      width: 70px;
      display: block;
      margin: 8px auto; }

.project-screens {
  background: #000; }
  .project-screens .img-container {
    margin: 0 auto; }
  .project-screens img {
    float: left;
    margin: 4px; }
    @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
      .project-screens img {
        margin: 0.2%; }
        .project-screens img:nth-child(1) {
          width: 32%; }
        .project-screens img:nth-child(2) {
          width: 17%; }
        .project-screens img:nth-child(3) {
          width: 17%; }
        .project-screens img:nth-child(4) {
          width: 32%; } }
    @media screen and (max-width: 1024px) {
      .project-screens img {
        margin: 2% 0; }
        .project-screens img:nth-child(1), .project-screens img:nth-child(2), .project-screens img:nth-child(3), .project-screens img:nth-child(4) {
          width: 100%; } }

/*=====================*/
/*=====================*/
.page-biography {
  background: #000;
  color: #747474;
  height: 100%;
  display: table; }
  .page-biography .text-bio {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%; }
    .page-biography .text-bio p:first-child {
      margin-left: -18%; }

dl {
  padding-left: 25px; }
  dl dd {
    color: #fff;
    display: block;
    float: left; }
  dl dt {
    display: block;
    clear: right; }
