@font-face {
  font-family: 'motion_control';
  src: url("../Fonts/motion-control/MotionControl-Bold.eot");
  /*src: url('../Fonts/motion-control/MotionControl-Bold.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/motion-control/MotionControl-Bold.woff') format('woff'),
         url('../Fonts/motion-control/MotionControl-Bold.ttf') format('truetype'),
         url('../Fonts/motion-control/MotionControl-Bold.svg#motion_control') format('svg');*/
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothman_bgbold';
  src: url("../Fonts/gothman/Gotham-Bold.eot");
  src: url("../Fonts/gothman/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman/Gotham-Bold.woff") format("woff"), url("../Fonts/gothman/Gotham-Bold.ttf") format("truetype"), url("../Fonts/gothman/Gotham-Boldt.svg#gothman_bgbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothman_book';
  src: url("../Fonts/gothman-book/Gotham-Book.eot");
  src: url("../Fonts/gothman-book/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../Fonts/gothman-book/Gotham-Book.woff") format("woff"), url("../Fonts/gothman-book/Gotham-Book.ttf") format("truetype"), url("../Fonts/gothman-book/Gotham-Book.svg#gothman_book") format("svg");
  font-weight: normal;
  font-style: normal; }

.mq {
  position: fixed;
  background: #fff;
  z-index: 999;
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/ }
  @media screen and (max-width: 1280px) {
    .mq {
      background: violet; } }
  @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
    .mq {
      background: orange; } }
  @media screen and (max-width: 1024px) {
    .mq {
      background: green; } }
  @media screen and (max-width: 800px) {
    .mq {
      background: gray; } }
  @media screen and (max-width: 767px) {
    .mq {
      background: red; } }

body, html {
  font-family: 'gothman_book';
  font-size: 16px;
  line-height: 28px;
  height: 100%;
  color: #545454;
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/
  /*@if $class == sm-h {
        @media screen and (max-width: 767px), screen and (min-width: 320px) {
            @content;
        }
    }*/ }
  @media screen and (max-width: 1366px), screen and (max-width: 1280px), screen and (max-width: 1366px) {
    body, html {
      font-size: 14px; } }
  @media screen and (max-width: 767px) {
    body, html {
      font-size: 13px;
      line-height: 16px; } }

/*=====================*/
/*=====================*/
img {
  border: none !important; }

.underline {
  text-decoration: underline;
  color: #fff; }

.title {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 7px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-white {
  color: #fff; }

.text-gray {
  color: #545454; }

.text-gradient {
  background: -webkit-linear-gradient(#fff, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.relative {
  position: relative; }

.cfix:after, .cfix:before {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden; }

.cfix:after {
  clear: both; }

.cfix {
  zoom: 1; }

.capitalize {
  text-transform: capitalize; }

* {
  margin: 0;
  padding: 0;
  outline: 0 none; }

*, *::after, *::before {
  box-sizing: inherit; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  font-size: 26px;
  line-height: normal;
  font-family: 'Open Sans Condensed', sans-serif; }
